.card {
  background-color: @white;
  padding: 40px 19px 20px;
  margin-bottom: 24px;
  &:hover, :active, :focus {
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  }
}
.card__link {
  margin-bottom: 19px;
  display: block;
  text-align: center;
}
.card__title-link {
  display: block;
  margin-bottom: 4px;
}
.card__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}
.card__desc {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @base-black;
  margin-bottom: 18px;
}
.card__buy {
  display: flex;
  justify-content: space-between;
}
.card__price {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: @base-black;
}
.card__btn {
  width: 141px;
  padding: 5px 22px 5px 20px;
  font-size: 14px;
  line-height: 20px;
}
.card__add-basket-icon {
  width: 20px;
  height: 16px;
}
