.catalog-items {
  @media (min-width: @desktop-width) {
    grid-area: 2 / 2 / 3 / 5;
  }
}
.catalog-items__sort-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  @media (min-width: @tablet-width) {
    width: 282px;
    margin-left: auto;
  }
}
.catalog-items__sort-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: @base-black;
}
.catalog-items__select-wrapper {

}
.catalog-items__select {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @base-primary;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: 160px;
}

.catalog-items__control {
}
