.catalog {
  background: @lightest-grey;
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    padding-top: 79px;
    padding-bottom: 90px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
    padding-bottom: 119px;
  }
}

.catalog__grid {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__header {
  @media (min-width: @desktop-width) {
    grid-area: 1 / 1 / 2 / 5;
    margin-bottom: 39px;
  }
}

.catalog__title {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: @base-primary;
  margin-bottom: 5px;
}

.catalog__subtitle {

  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: @base-black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}
