.catalog {
  background: @lightest-grey;
  padding-top: 50px;
  padding-bottom: 44px;
}
.catalog__header {
}
.catalog__title {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: @base-primary;
  margin-bottom: 5px;
}
.catalog__subtitle {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: @base-black;
  margin: 0;
}
.catalog-items {
}
.catalog-items-sorting-wrap {
}
.catalog-items-sorting-list {
}
.catalog-items-sorting-item {
}
.catalog-items-sorting-item-activ {
}
