/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.noUi-target {
  height: 4px;
  background: @secondary-grey;
}

.noUi-connect {
  background: @secondary-primary;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  right: -11px;
  top: calc(50% - 24px/2 + 0.45px);
  background: #FFFFFF;
  border: 2px solid #9070EC;
  border-radius: 50%;
  &::before, &::after {
    display: none;
  }
}

.filter {
  padding-top: 20px;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
  }
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.filter-wrapper {
  margin-bottom: 39px;
  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }
  @media (min-width: @desktop-width) {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.filter__price,
.radio-type-milk {
  border: none;
  padding: 0;
  margin: 0;
}

.filter__price {
  margin-bottom: 24px;
}

.filter__legend {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.radio-type-milk__legend {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 24px;
}

.filter__range {
  margin-bottom: 36px;
  @media (min-width: @tablet-width) {
    margin: 0 10px 31px;
  }
}
.filter__price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: @tablet-width) {
    padding: 0 9px;
  }
}
.filter__price-controls-input {
  width: 118px;
  padding: 5px 10px;
  background: @white;
  border: 2px solid @secondary-primary;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @base-black;
  @media (min-width: @tablet-width) {
    width: 93px;
  }
}
.filter__inputs-dash {
  width: 9px;
  height: 2px;
  background: @base-grey;
}

.filter__price-controls-input--min {
}
.filter__price-controls-input--max {
}


.filter__btn,
.filter__btn-white {
  width: 160px;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    padding: 8px 7px;
    margin: 0;
  }
}
.filter__btn {
  margin-bottom: 27px;
  @media (min-width: @tablet-width) {
    margin: 0;
    width: 148px;
  }
}
.filter__btn-white {
  background-color: @white;
  color: @base-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  @media (min-width: @tablet-width) {
    width: 139px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.filter__btn-wrapper {
  @media (min-width: @tablet-width) {
  grid-area: 2 / 1 / 4 / 4;
  display: flex;
  justify-content: space-between;
  padding-left: 179px;
  padding-right: 233px;
  }
  @media (min-width: @desktop-width) {
    padding: 0;
  }
}
