.pagination {
  display: flex;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    width: 395px;
    margin-left: auto;
  }
}
.pagination__item {
}

.pagination__item-link {
  display: flex;
  min-width: 40px;
  height: 40px;
  padding: 10px;
  background: @white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: @base-primary;
}

.pagination__item-img {
  width: 6px;
  height: auto;
  fill: @base-primary;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.pagination__item-img-next {
  transform: rotate(180deg);
}

.pagination__item-previous,
.pagination__item-next {
  @media (min-width: @tablet-width) {
    padding: 8px 20px;
  }
}

.pagination__item-previous-text,
.pagination__item-next-text {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
.pagination__item-current a {
  background: transparent;
  color: @base-black;
}

